{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Profile{% endblock title %}

{% block content %}

    <h1>Profile</h1>

    {#    {% if user.avatar %}#}
    {#        <img style="height: 100px; width: 100px" src="{{ user.avatar.url }}" alt="avatar">#}
    {#    {% else %}#}
    {#        <img style="height: 100px; width: 100px" src="{% static 'red_cat.jpg' %}" alt="avatar">#}
    {#    {% endif %}#}

    <img style="height: 200px; width: 200px" src="{{ user.avatar_url }}" alt="avatar">

    <form method="post" enctype="multipart/form-data">
{#    <form method="post" class="form">#}

        {% csrf_token %}
{#        {{ form.as_p }}#}
{#        {{ form|crispy|safe }}#}
        {{ form|crispy }}
        <button type="submit">Update</button>

    </form>


{% endblock content %}