{% extends 'base.html' %}
{% load static %}

{% block title %}
    Index
{% endblock title %}

<style>
    .centered-image {
        text-align: center;
    }

    .centered-image img {
        display: inline-block;
    }
</style>


{% block content %}

    <table class="table table-striped" style="width: 100%; height: 100vh; text-align: center;">
        <tr>

            <td><img style="height: 550px; width: 800px" src="{% static 'New_yars.jpg' %}" alt="logo"></td>


    </table>


{% endblock content %}
