{% extends 'base.html' %}

{% block title %}
    message_list
{% endblock title %}

{% block content %}

    <a href="{% url 'message-create' %}">Message</a>

    {% for contactus in object_list %}

        <table>
            <tr>
                <td><a href="{% url 'message-details' contactus.id %}"><h3>Details_info</h3></a></td>
                <td style="background-color: greenyellow"><h3>Id: {{ contactus.id }}</h3></td>
                <td style="background-color: yellow"><h1>Email: {{ contactus.email }}</h1></td>
                <td style="background-color: green"><h1>Subject: {{ contactus.subject }}</h1></td>
                <td style="background-color: red"><h1>Message: {{ contactus.message }}</h1></td>
                <td><a href="{% url 'message-update' contactus.id %}"><h3>Edit</h3></a></td>
                <td><a href="{% url 'message-delete' contactus.id %}"><h3>Delete</h3></a></td>

        </table>


    {% endfor %}

{% endblock content %}