{% extends 'base.html' %}

{% block title %}
    rate_list
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <form method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
            </form>
        </div>
    </div>

    {% if request.user.is_authenticated %}
        <a href="{% url 'rate-create' %}">Create</a><br>
    {% endif %}



    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Buy</th>
                <th scope="col">Sell</th>
                <th scope="col">Type</th>
                <th scope="col">Source</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for rate in page_obj %}
                <tr>
                    <th style="background-color: slategray"><h3>Id: {{ rate.id }}</h3></th>
                    <th style="background-color: dimgrey"><h3>Buy: {{ rate.buy }}</h3></th>
                    <th style="background-color: dimgrey"><h3>Sell: {{ rate.sell }}</h3></th>
                    <th style="background-color: skyblue"><h3>Type: {{ rate.get_type_display }}</h3></th>
                    <th style="background-color: skyblue"><h3>Source: {{ rate.get_source_display }}</h3></th>
                    {% if request.user.is_superuser %}
                        <th>
                            <form action="{% url 'rate-update' rate.id %}" method="get">
                                <button type="submit">Edit</button>
                            </form>
                        </th>
                        <th>
                            <form action="{% url 'rate-delete' rate.id %}" method="get">
                                <button type="submit">Delete</button>
                            </form>
                        </th>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <th>
                            <form action="{% url 'rate-details' rate.id %}" method="get">
                                <button type="submit">Details</button>
                            </form>
                        </th>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-12">
            {% include 'includes/pagination.html' %}
        </div>
    </div>

{% endblock content %}
