{% extends 'base.html' %}
{% load static %}
{% block title %}
    source_list
{% endblock title %}

{% block content %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'source-create' %}">Source</a>
    {% endif %}


    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">source_url</th>
                <th scope="col">source_name</th>
                <th scope="col">logo</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for source in object_list %}
                <tr>
                    <th style="background-color: grey"><h3>Id: {{ source.id }}</h3></th>
                    <th style="background-color: darkgray"><h3>Source_url: {{ source.source_url }}</h3></th>
                    <th style="background-color: dimgrey"><h3>Bank name: {{ source.source_name }}</h3></th>
                    <th><img style="height: 50px; width: 50px" src="{{ source.logo_url }}" alt="logo"></th>
                    {% if request.user.is_superuser %}
                        <th><a href="{% url 'source-update' source.id %}"><h3>Edit</h3></a></th>
                        <th><a href="{% url 'source-delete' source.id %}"><h3>Delete</h3></a></th>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <th><a href="{% url 'source-details' source.id %}"><h3>Details</h3></a></th>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}